.mce-panel{
	background-color: #fff;
	border: 1px transparent;
}
.mce-btn{
	background-color: transparent;
}
.mce-btn:hover, .mce-btn:focus, .mce-btn:active{
	background-color: transparent;
	border: 1px solid transparent;
}
.mce-ico{
	font-size: 13px;
}
.mce-btn button{
	padding: 0px;
}
.mce-btn-group .mce-first{
	margin-left: 38em;
}
.mce-btn-group .mce-btn{
	margin-top: -85px;
}
#mceu_4{
	padding: 0px;
	height: 0px;
}
#mceu_3{
	width: 600px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 15px;
}
#articleContent_ifr{
	overflow: hidden;
}

.mce-widget.mce-tooltip {
    display: none !important;
}
#tinymce{
	overflow: none;
	padding-left: 7px !important;
	margin-left: 0px !important;
}