html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
   height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

textarea {
    resize: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #337ab7;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;

}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="email"],
input[type="password"] {
  width: 17em;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.bgimage {

  /**  background-image: url(../images/bg.JPG);

  background-repeat: no-repeat;
**/

}
.container {
  margin: 0 auto;
  text-align: center;
}

.title, .loginform {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.title span {
  font-size: 42px;
  font-weight: bold;

}
.title img {
    width: 361px;
    height: 155px;
}

.holder {
  position: relative;
  margin: 0 auto;
  margin-top: 9em;
  width: 680px;
}

.loginform{
  margin-top: 7em;
}

.email, .password {
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

.email {

}

.password {
  margin-left: 1em;
}

.ld1, .ld2 {
  padding: 5px;
}

.forgot-pass {
  margin-left: 165px;
}

.rem-me {
  margin-left: -103px;
}

.loginbtn {
  position: relative;
  float: right;
  right: -3em;
  top: -50px;
}

.loginbtnc{
    display: inline-block;
    padding: 7px 23px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-social.btn-lg {
    padding-left: 61px;
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-facebook {
  color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}

.btn-block {
    display: block;
    width: 100%;
}

.signup {
  position: relative;
  margin-top: 66px;
  width: 21em;
  margin-left: 11em;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
  border: 0;
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  padding: 12px 19px;
  border-radius: 4.2px;
}

.google-btn {
  background-color: #df4930;
  text-align: left;
}

.google-btn::before, .fb-btn::before{
  width: 24px;
  height: 24px;
  background-size: 24px 24px;


}

.google-btn::before, .fb-btn::before {
    float: left;
    content: "";
    margin-right: 8px;
    display: inline-block;

  }

.google-btn::before {
  background-image: url(../images/g1.png);

}

.fb-btn::before {
    background-image: url(../images/f1.png);

}

.fb-btn {
  text-align: left;
  background: #3b5998;
  border-color: #2d4373;
}

.withgoogle, .whithfb {
  border-radius: 3px;
}

.reg {
  display: none;
}
