.title{
	margin-left: 14px;
	margin-top: 6px;
}

.form-control {
	margin-left: 256px;
			height: 28px;
    margin-top: -23px;

}

.control-label {

}

input {
	border: none;
	border-bottom: 1px solid #ddd;
}

.update-btn button {
	padding: 9px 15px;
	color: #000;
  margin-bottom: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.tray1{
	margin-top: 14px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;

	padding: 15px;

}
.edit-dp img {
	height: 42px;
	width: 42px;
}


.edit {
  margin-bottom: 30px;
}

#name {

}

#status {

}

#bio {

}

#facebook-url {

}

#instagram-url {

}

#youtube-url {

}

#twitter-url {

}
