.cd1-hp{
  margin: 0 auto;
  margin-top: 67px;
  padding: 0 5px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-container-hp{
  padding-top: 20px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 33.33333333%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 1px;
  max-width: none;
  margin-bottom: 0;
}

.topbar-container {
  height: 0px !important;
}

.image-container-hp  img{
  margin: 10px auto;
  width: 100%;
  height: 300px;
}

.clogo{
  width: 12em;
}

.home {
  background-color: #fff;
}
.container{
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

.row{
  margin: 0 auto;

}
