.cd1-hp{
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-container-hp{
  padding-top: 5px;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  display: block;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 1px;
  max-width: none;
  margin-bottom: 0;
}

.image-container-hp  img{
  margin: 10px auto;
  width: 100%;
  height: 300px;
}

.explain{
  font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.ht{
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0 10px;
  padding-bottom: 45px;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.login-right{
  float: right;
  padding: 5px 10px;
    border: 1px solid #000;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
}
.login-right a {
  color: #000;
}
#login-popup {
  display: none;
  color: #fff;
  font-size: 20px;
}
.sa1{
  margin-left: -49px;
}
