li {list-style: none;}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.main-container {
	position: relative;
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #ddd;
}
.hide {
  display: none;
}
.header-outer {
	margin: 0 auto;
	width: 1042px;
}

.header {
	position: relative;
	top: 1em;
	height: 42px;
	display: flex;
}

.dropdown {
	position: relative;
    top: 29px;
    left: 28em;
}

.dropdown ul li a {

}


.nametag {
	font-size:28px ;
}

.search {
	position: relative;
	margin-left: 52px;
}

.search-input {
	outline: 0;
	border-radius: 2px;
	border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin-top: 0;
    padding: 5px;
    padding-left: 26px;
    float: none;
    width: 100%;
    font-size: 15px;
    line-height: normal;
    background: #eee url(../images/search-icon.png) no-repeat 8px center;
    background-size: 13px 13px;
}

.dp {
  position: relative;
  left: 33em;
}

.dp img {
	height: 33px;
 	border-radius: 18%;
}

.body-yield {
	position: relative;
	width: 100%;
}

.logo-topbar {

    position: relative;
    width: 131px;
    height: 42px;
    top: -8px;
}

.logo-topbar img{
  height: 100%;
  width: 100%;
}

.container {
    width: 1042px;
    position: relative;
    margin: 0 auto;
}

.post-container {
    width: 900px;
    position: relative;
    padding-bottom: 23px;
        margin-left: 8em;

}

.inner-container {
    top: 4em;
    position: relative;
}

.image-container {
height: 533px;
    width: 542px;
    padding-top: 7px;
}

.story-container {
    width: 511px;
    text-align: left;
    margin-left: 19px;
    color: #545454;
        clear: both;

}

.image-container a img {
height: 100%;
width: 95%;
}

.title-container {
       position: relative;
    float: left;
    right: -18px;
    font-size: 25px;
    top: -8px;
    margin-bottom: 15px;
}

.carbon-date {
       position: relative;

       left: 71px;
   top: -46px;
    font-size: 14px;
    color: #545454;
        clear: both;

}

.pictales-author {
  position: relative;
  left: -405px;
}
.pictales-author a img {
  width: 50px;
  height: 50px;
}
.author-name {
  position: relative;
  top: -53px;
  left: 75px;
}
.follow-button {

}
