.profile-container {
	margin: 0 auto;
}

.profile-holder {
	margin:0 auto;
	overflow-x: hidden;

}

.show {
	display: block;
}
.hide {
  display: none;
}

.profile-info{
	margin-top: 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.profile-p1 {
  display: inline-block;
	width: 73px;
  vertical-align: top

}

.profile-p1 img {
	width: 73px;
	height: 73px;

}

.profile-p2 {
	padding-left: 10px;
	display: inline-block;
    min-width: 205px;
	max-width: 450px;
}

.profile-p3 {
	display: block;
    font-size: 16px;
		color: #545454;
}

.short-bio p{
	padding: 0px;
	margin:5px;
}

.display-name {
	font-size: 20px;
    font-weight: bold;
}

.profile-edit {
	cursor: pointer;
}

.profile-edit a img {
	height:20px;
	width:20px;
}
.status {
    font-size: 16px;
    color: #545454;
    margin-top: 5px;
    width: 210px;
}

.social-linked-icons {
	margin-top: 5px;
}


.fb-link::before, .twitter-link::before, .insta-link::before, .yt-link::before {
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-right: 27px;

}
.fb-link, .twitter-link, .insta-link, .yt-link {
	width: 26px;
	padding-right: 17px;

}
.fb-link::before {
background: url(../images/fb-logo.png) no-repeat;
}

.twitter-link::before {
background: url(../images/twitter-logo.png) no-repeat;
}

.insta-link::before {
background: url(../images/insta-logo.png) no-repeat;
}

.yt-link::before {
background: url(../images/yt-logo.png) no-repeat;
}

.statistics {
	width: 100%;
	color: #545454;
	font-size: 96%;
	margin-top: 5px;
	height: 20px;
	padding: 2px 17px;

}

.stats-pictales, .stats-followers, .stats-following {
	margin-right: 7%;
}

.navigation-left {
	width: 142px;

}

.navigation-following {

}

.navigation-interests {
    top: 50px;
}

.nav-title {
	font-size: 18px;
    color: #545454;
    width: 81px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e1e1e1;
}

.following-list-wraper, .interests-list-wraper {
    font-size: 16px;
    color: #545454;
}

.nav-list {
	margin-bottom: 11px;
}

.create-pictales {
    width: 157px;
}

.create-pictales-btn {
	padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    color: #545454;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.social-linked-icons, .statistics {

	display: flex;
}

/* This is for post. This will be moved to different css file */
/* Start css - post */
.follow-unfollow-btn-pos {
	margin-top: 10px;
	padding-left: 10px;
}


.profile-v1 {
	margin: 0 auto;
}

.post-v1 {

}
.post-v2 {
border-bottom: 1px solid #ddd;
}
/*Profile Edit page*/
