.profile-container {
	margin: 0 auto;
	width: 1042px;
}

.profile-holder {
	margin:0 auto;
  width: 870px;

}
.content{
	margin: 0 auto;
padding: 0;
width: 1000px;
margin-top: 65px;
background-color: #fff;
}

.hide {
  display: none;
}

.profile-info{
	padding: 0px 30px;
	border-bottom: 1px solid #ddd;
	padding-top: 15px;
}

.profile-p1 {
  display: inline-block;
	width: 150px;
  vertical-align: top

}

.profile-p1 img {
	width: 150px;
	height: 150px;

}

.profile-p2 {
	padding: 0px 15px;
	display: inline-block;
	width: 500px;
}

.profile-p3 {
	display: block;
    font-size: 16px;
		color: #545454;
}

.display-name {
	font-size: 28px;
    font-weight: bold;
}

.profile-edit {
	cursor: pointer;
}

.profile-edit a img {
	height:22px;
	width:27px;
}
.status {
    font-size: 16px;
    color: #545454;
    margin-top: 5px;
}

.social-linked-icons {
	margin-top: 38px;
}


.fb-link::before, .twitter-link::before, .insta-link::before, .yt-link::before {
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-right: 27px;

}
.fb-link, .twitter-link, .insta-link, .yt-link {
	width: 26px;
	padding-right: 17px;

}
.fb-link::before {
background: url(../images/fb-logo.png) no-repeat;
}

.twitter-link::before {
background: url(../images/twitter-logo.png) no-repeat;
}

.insta-link::before {
background: url(../images/insta-logo.png) no-repeat;
}

.yt-link::before {
background: url(../images/yt-logo.png) no-repeat;
}

.statistics {
	color: #545454;
	font-size: 18px;
	margin-top: 11px;

}

.stats-pictales, .stats-followers, .stats-following {
	margin-right: 42px;
}
.stats-pictales {

}

.stats-followers {

}

.stats-following {

}


.navigation-left {
	width: 142px;

}

.navigation-following {

}

.navigation-interests {
    top: 50px;
}

.nav-title {
	font-size: 18px;
    color: #545454;
    width: 81px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e1e1e1;
}

.following-list-wraper, .interests-list-wraper {
    font-size: 16px;
    color: #545454;
}

.nav-list {
	margin-bottom: 11px;
}

.create-pictales {
    width: 157px;
}

.create-pictales-btn {
	padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    color: #545454;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.social-linked-icons, .statistics {

	display: flex;
}

/* This is for post. This will be moved to different css file */
/* Start css - post */


.post-wraper {
}


.post-pic {
    width: 585px;
    height: 503px;
}

.post-pic img {
    width: 90%;
    height: 80%;
    border-radius: 4px
}

.follow-unfollow-btn-pos {
	margin-top: 8px;
	text-align: center;
}


/* End css - post */

/* Start css - Post your pictales */


.comment-container{
	width: 550px;
}
/* End css - post your pictales*/


.profile-v1 {
	margin: 0 auto;
	margin-left: 120px;
}

.post-v1 {

}
.post-v2 {

  margin-left: 45px;
	border-bottom: 1px solid #ddd;
}
/*Profile Edit page*/
