body {
	margin: 0;
	padding: 0;
	color: #656464;
	    font-family: 'Roboto',Georgia,Times,"Times New Roman",serif;
}
::-moz-selection { background: #ffdb00;color: #000; }
::selection { background: #ffdb00;color: #000; }
/*ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}*/
input, textarea, select, a, div { outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
		background-color: #fff;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.hide{
	display: none;
}
a {
	text-decoration: none;
	color: #337ab7;
}
.sign-up{
	font-size: 17px;
}
.sign-up:hover{
	background-color: #83bbee;
}
.sign-up:hover > a{
	color: white;
}

.main-container{
	background-color: #fafafa;
	margin-top: -3px;
}
.fixed{
	position: fixed;
	width: 100%;
	left:0;
	top:0;
}

.easyeditor {
    outline: none;
}

.easyeditor-toolbar {
    display: none;
}

.is_one_line br{
	display: none;
}

.easyeditor[contenteditable=true]:empty:before{
    content: attr(placeholder);
    opacity: 0.5;
}

.jrm-truncate{overflow:hidden}.jrm-truncate.jrm-reduced.jrm-textOnly img,.jrm-truncate.jrm-reduced.jrm-textOnly table{display:none}.jrm-toggle{display:inline-block;margin-top:1em;margin-bottom:1em;cursor:pointer}
.topbar-container {
	position: fixed;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	display: block;
	left:0;
	top:0;
  border-bottom: 1px solid #ddd;
	background-color: #fff;
	z-index: 10000;

}

#dropdown-menu img{
	height: 33px;
	width: 33px;
	cursor: pointer;
}
.navigation {
	z-index: 5;
	position: relative;
	margin: 0 auto;
}

.navbar{
	height: 60px;
	display: block;
	position: relative;
	z-index: 4;
	margin: 0px auto;
	width: 1000px;
	padding: 0 40px;
}
.navbar_e{
	text-align: center;
	height: 42px;
	display: block;
	position: relative;
	z-index: 4;
	margin: 0px auto;
	width: 1000px;
}
.navspacer{
	display: none;
	height: 102px;
	position: relative;
	margin: 0px auto;
	width: 1000px;
}

.container{
	margin: 0 auto;
	width: 1000px;
}
.ec1{
	padding: 0 40px;
    margin-top: 12px;
}
.flash{
	position: relative;
	z-index: 4;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-weight: 600;
	color: #777;
}


.cd1{
	margin: 0 auto;
    margin-top: 67px;
}

.hr-text{
	margin-left: -96px;
    font-size: 14px;
    padding-bottom: 5px;
}
.leftbar{
	display: inline-block;
	width: 160px;
	vertical-align: top;
	padding: 10px;
	float: left;
}

.leftbar ul{
	margin: 0px auto;
	padding: 0px;
	padding-top: 10px;
	list-style: none;
}

.leftbar li{
	padding: 3px 0px;
}

.sidebar-pic{
	margin-right:10px;
	display: inline-block;
}

.sidebar-pic img {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	vertical-align: middle;
}

.sidebar-name{
	vertical-align: middle;
	display: inline-block;
}

.sidebar-title{
	padding-bottom: 8px;
	color: #000;
	font-size: 14px;
	border-bottom: 1.5px solid #ddd;
	font-weight: bold;
}
.surprise{
	border-bottom: 1.5px solid #ddd;
    padding-bottom: 5px;
    font-size: 17px;
    margin-bottom: 20px;
}


.blue{
	background-color: #337ab7;
	padding: 5px 10px;
	border-radius: 7px;
	border: 1px solid #c6c0c0;
}

.blue a {
	color:#fff;

}

.gray{

	background-color: #fff;
	padding: 5px 10px;
	border-radius: 7px;
	border: 1px solid #c6c0c0;
}

.logo{
	font-size: 30px;

  text-align: center;
  margin: 0 auto;
}

.top-right {
	margin-top: -60px;
	width: 100px;
	float: right;
	margin-right: 15px;
}
.explore {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 15px;
	width: 45px;
	position: absolute;
}

.logo_e {
	margin-top: 16px;
}

.logo img{
	  height: 45px;
    margin-top: 8px;
}
.logo_e img{
	  height: 45px;
    margin-top: -8px;
}

.tagline{
	    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
		color:#000;
}

.vision-button {
    width: 153px;
    margin: 0 auto;
    margin-top: 90px;
}
.vb1{
    border: 1px solid #000;
    height: 18px;
    padding: 10px;
    color:#000;
}
.social_auth ul li{
	list-style: none;
	display: inline;
	padding-right: 13px;

}
.hp1{
margin-top: 100px;
font-size: 18px;
}
.cl1{
	height: 83px;
    padding: 10px;
}
.hp2{
margin-top: 60px;
font-size: 21px;
}
/*.ht{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 142px;
	    min-width: 800px;
}*/


#about_pictales{
	position: relative;
    left: 0;
    right: 0;
    height: 100vh;
}

.the_line{
	margin-right: 46px;
    font-weight: 600;
    font-size: 13px;
}

.social_auth span {
	float: left;
    margin-top: 15px;
    margin-left: 7px;
    font-size: 16px;
}

.social_auth ul li {
/*	margin-left: 185px;
*/}

.social_auth ul li img{
 width: 27px;
}

.sa1 {
	float: left;
    margin-left: -33px;
    margin-top: -4px;
}
.wp1{
width: 100%;
min-width: 960px;
margin: 0 auto;
text-align: center;
}

.explain{
	padding: 30px;

	color: #000;
font-weight: 600;
font-size: 30px;

}

.centerlogos{
height: 100px;
}
.search {
	float: left;
	margin: 0;
	padding-top: 17px;
	padding-left: 35px;
	width: 145px

}

.search input{
  width: 400px;
  height: 30px;
  background: #eee;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.search input:focus{
    outline: 0;
}

.search .icon img{
	position: absolute;
	margin-top: 9px;
	margin-left: 10px;
	max-height: 15px;
}

.btn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
	font-size: 16px;
	padding: 11px 15px;
	border-radius: 4px;
	vertical-align: middle;
}

.btn:hover{
	background-color: #ddd;
}

.notify{
	float: right;
	font-weight: 500;
	margin-top: 2px;
	vertical-align: top;
}

.notify-menu a{
	border-radius: 7px;
	display: block;
	padding: 11px 6px;
	color: #000;
}

.notify-menu a:hover{
	background-color: #eee;
}

.user-info{
	float: right;
	font-weight: 500;
	margin-top: 12px;
	vertical-align: top;
}

.user-info span{
	padding-right: 10px;
	color: #D81010;
}


.user-info .user-photo{
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;

}

.profile-menu{
	display: block;
	cursor: pointer;
	margin-top: 4px;
}


.profile-menu img{
	height: 20px;
    width: 20px;
    border-radius: 50%;
	vertical-align: middle;

}

.search-dropdown {
	width:375px;
	display:none;
	margin: 0px 30px;
	position: absolute;


}

.search-dropdown{
	position: absolute;
}

.search-dropdown ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.search-dropdown li{
padding: 0px;
margin:0px;
}

.search-dropdown a{
display: block;
border-radius: 1px;
padding: 7px 15px;
border: solid 1px #ddd;
background-color: #eee;
}

.search-dropdown a:hover{
	background-color: #bbb;
}

.search-logo{
	display: inline-block;
	vertical-align: middle;
}
.search-logo img{
	height: 30px;
	width: 30px;
	border-radius: 30px;
}

.search-name {
	color: #333;
	font-size: 0.85em;
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 8px;
}
.search-follow {
	display: inline-block;
	margin-left: 50px;
	font-size: 0.75em;
}

.search-dropdown > .fixed-bottom a{
	font-size: 0.9em;
	color: #333;
}


.dropdown {
	display:none;
	position: absolute;
	margin-top:15px;
	opacity:0.9;

}
.dropdown ul{
	position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    right: -12px;
    text-align: left;
		margin-top: -3px;
		text-align: left;
		box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);

}
.popover-arrow{
	top: 1px;
clip: rect(0 18px 14px -4px);
}

.popover-arrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
}

.popover-arrow:after {
    -webkit-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}

.dropdown a{
display: block;
width: 110px;
border-radius: 1px;
padding: 10px 15px;
background: #fff;
}

a.drop:hover{
	background-color: #ececec;
}

.notify-menu{
	position: relative;
	float: right;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

.notify-label{
	position: relative;
	    height: 17px;
	    width: 17px;
	    line-height: 17px;
	    margin-left: 28px;
	    margin-right: -9px;
	    vertical-align: top;
	    display: inline-block;
	    border-radius: 17px;
	    cursor: pointer;
	    font-size: 0.8em;
	    font-weight: 600;
	    color: #fff;
	    text-align: center;
	    background-color: #d00;

}

.notify-clear{
	opacity: 0;
}

.notify-dropdown {
	display:none;
	margin-top: 59px;
	margin-left: -14em;
	opacity: 0.9;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: absolute;
}

.scroll ol{
	padding:0px;
	margin: 0px;
}

.notify-dropdown ul{
	max-height: 300px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
    list-style: none;
    margin: 0px;
    width: 345px;
    padding: 0px;
    right: -72px;
    text-align: left;
}

.notify-dropdown a{
display: block;
width: 300px;
padding: 10px 22px;
border: solid 1px #ddd;
background-color: #e8e8e8;
}



.notify-dropdown a:hover{
	background-color: #ddd;
}

.inner-container {
	display: inline-block;
	margin: 0 auto;
	width: 620px;
}

.post-input {
	width: 656px;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	margin-top: -7px;
}
.article{
	margin: 10px 0px;
	padding: 10px;
	text-align: justify;
	border: 1px solid #ddd;
}

.article-box img{
	width:100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.article-text{
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #aaa;
}

.article-stats ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-stats ul li{
	margin: 0;
	padding: 10px 15px;
	display: inline-block;
}

.article-stats ul li:hover{
	background-color: #ddd;
}

.centered{
	margin: 0 auto;
	text-align: center;
}

.centerlogo{
    margin-left: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    width: 137px;
    height: 50px;
    float: left;
}
.login{
	margin-top: -70px;
    float: right;
    margin-right: 30px;
}

.invite-user{
	margin-top: 110px;
}
.invite{
	margin: 20px;
	margin-top: 42px;
	display: none;
}
.invite-holder {
	margin: 0 auto;
	width:600px;
margin-top: 25px;
}
.invitebar{
	width:50%;
	height: 50px;
	outline: none;
	border: 2px solid #bbb;
	font-size: 16px;
	padding-left: 20px;
	vertical-align: middle;
}

.invitebtn{
	 background-color: #fff;
    border: 2px solid #bbb;
	vertical-align: middle;
}

 .formgroup{

 	display: block;
 	padding: 5px;
	font-size: 12px;
}



 .text{
	    outline: 0;
    height: 19px;
    font-size: 12px;
    width: 151px;
    margin: 0px;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #A99999;
    margin-right: 8px;
  }
	.text_n{
		outline: 0;
height: 25px;
font-size: 12px;
width: 304px;
margin: 0px;
vertical-align: middle;
border: none;
border-bottom: 1px solid #A99999;
margin-right: 8px;
	}

	.text:focus+.underline {
  transform: scale(1);
}

.text-holder{
	display: inline-block;
}

.underline {
	display: block;
  background-color: dodgerblue;
  height: 2px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
	transform-origin: left;
	-webkit	transform-origin: left;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 151px;
  margin-top: -1px;
}

  .rem-me{
  	display: inline-block;
  	width:151px;
  	text-align: left;
	  margin-right: 12px;
  }

  .forgot-pass{
  	display: inline-block;
  	text-align: right;

  }

	.img-container {
		    width: 24px;
	}
.img-container a img{
	width: 19px;
	border-radius: 50%;
  height: 19px;
}


.signup {
  position: relative;
  margin-top: 30px;
  width: 21em;
  margin-left: 269px;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
	  border: 0;
	  display: block;
	  margin-bottom: 16px;
	  font-size: 18px;
	  padding: 12px 19px;
	  border-radius: 4.2px;
}

.google-btn {
  background-color: #df4930;
  text-align: left;
}

.google-btn::before, .fb-btn::before{
  width: 24px;
  height: 24px;
  background-size: 24px 24px;


}

.google-btn::before, .fb-btn::before {
    float: left;
    content: "";
    margin-right: 8px;
    display: inline-block;

  }

.google-btn::before {
  background-image: url(../images/g1.png);

}

.fb-btn::before {
    background-image: url(../images/f1.png);

}

.fb-btn {
  text-align: left;
  background: #3b5998;
  border-color: #2d4373;
}

.withgoogle, .withfacebook {
  border-radius: 3px;
	width: 260px;
}

.withemail{
	margin: 10px;
  	display:block;
  	text-align: right;
  	padding: 0px 20px;
  }
.back{
	text-align: center;
margin-left: -156px;
margin-top: 42px;
}
.backbtn{
	font-size: 12px;
	font-weight: 600;
	padding: 5px 10px;
	margin-left: 150px;
	background-color: #999;
	border: 1px solid #bbb;
	display: none;
}

.login-btn, .invitebtn {
    display: inline-block;
    padding: 3px 9px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.login-btn{
			float: right;
}
h3 a{
	text-decoration: underline;
}

.post-feed {
	padding-left: 25px;

}
.error-msg{
	text-align: left;
	padding: 10px;
	font-size: 15px;
	color: #a94442;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 10px;
	border:1px solid #a94442;
	-webkit-border-radius: 10px ;
  	-moz-border-radius: 10px ;
  	border-radius: 10px;
}

.error-msg ul{
	padding: 0 20px;
	margin: 0;
}

.post-container {
    padding-top: 20px;
		width: 570px;
		border-bottom: 1px solid #ddd;
		text-align: left;

}


.author-name{
	color: #333;
	margin-top: -17px;
	margin-left: 24px;

}
.pictales-author{
	font-size: 13px;
}
.carbon-date{
	font-size: 11px;
	margin-left: 68px;
	margin-top: 2px;
}

/*
 Post container
*/

.tags-container {
	margin-left: -47px;
  padding: 7px;
}

.tags-container ul li {
	list-style: none;
	display: inline;
}

.tag{
	font-weight: 400;
	font-style: normal;
	color: #797979;
	font-size: 11px;
	letter-spacing: 0;
	text-decoration: none;
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #a2a2a2;
	padding: 5px 9px;
	margin-right: 3px;
	cursor: pointer;
}

.tag{
	font-weight: 400;
	font-style: normal;
	color: #797979;
	font-size: 11px;
	letter-spacing: 0;
	text-decoration: none;
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #a2a2a2;
	padding: 5px 9px;
	margin-right: 3px;
	cursor: pointer;
}

.tag:hover{
	color: #000;
}
.title-container{
	font-size: 19px;
	color: #000;

}

.title-container a {
	font-size: 19px;
	color: #000;
	margin-top: -43px;
}

.story-container{
	margin-top: -10px;
	font-size:15px;
	line-height: 1.5;
	    color: #000;
}

.image-container-s img {
	margin: 10px auto;
	width: 100%;
	max-height: 600px;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
}


.post-title {
	position: relative;

	left:35px;
	top: -30px;
	border: none;
	border-bottom: 1px solid #000;

}

.has-error-text {
	display: block;
	color: #a94442;
	font-size: 0.85em;
	float: right;
  margin-right: 62px;
}

.error-input-title {
	position: relative;
	margin-top: -55px;
	margin-left: 50px;
	margin-bottom: 50px;
	display: block;
}
.error-input-story {
	position: relative;
	display: block;
	padding-top: 5px;
	margin-left: 50px;
}

.error-input-img {
	display: none;
}

.error-input-profile {
	position: relative;
	display: block;
	padding-top: 5px;
	margin-left: 260px;
	margin-bottom: -20px;
}

.post-story {

	border: none;
	border-bottom: 1px solid #000;

}
.sc1 + [data-readmore-toggle]{

	font-size: 14px;
}
#read-s{
	cursor: pointer;
}

.options{
	margin-top: -9px;
}
.post-buttons {
	margin-left: 45px;
	margin-right: 80px;
}

.input-img{
	margin-top: 20px;
	padding: 0px;
	border: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
}

.input-img img{
	background-color: white;
	width: 423px;
}

#file_img {
	display: none;
}
.submit-btn {
	float: right;
	margin-top: 45px;
	background: transparent;
	border: 1px solid #ddd;
	padding: 6px 13px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 7px;
	display: inline-block;
	vertical-align: middle;

}

.disabled{
	disabled;
	background: #bbb;
}
#hs{
	display: none;
}
.submit-loading {
	display: none;
	float: right;
	margin-top: 65px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}


/*style for follow n following tabs*/

.user-profile {
	vertical-align: top;
	cursor: pointer;
	padding: 5px;
	margin-left: 10px;
	width: 30%;
	display:inline-block;;
}

.user-thumbnail {

}

.user-thumbnail a img {
	height: 60px;
  width: 60px;
  border-radius: 1px;
}

.user-name {
	margin-top: -59px;
	margin-left: 68px;

}

.pictales-count {
	font-size: 14px;
  margin-left: 68px;
  margin-top: 6px;
}

.user-follow-unfollow-btn {
	font-size: 15px;
	 margin-top: 23px;


}

.user-pictales-count {

}

.user-thumbnail-leftbar a img {
	height: 20px;
    width: 20px;
    border-radius: 50%;
}

.top-following ul li {
	font-size: 13px;
}

.view_counts{
	font-size: 20px;
	border-bottom: 1px solid #a2a2a2;
	width: 145px;
	margin-bottom: 3px;
	padding-bottom: 2px;
}

.options ul{
	margin:0;
	padding: 0;
	list-style: none;

}

.options ul li{
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
}

.options ul li a{
	color: #999;
}

.options ul .active a{
	color: #33c;
}
.share-img{
	width: 15px;
	height: 15px;
}
.btns{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 2px;
}
.no-results{
	display: block;
	padding: 10px;
	background-color: #fff;
	font-weight: 0;
}


.right {
	float: right;
}

.options ul .hide{
	display: none;
}
.comment-container{
	padding-bottom: 20px;
	text-align: center;
  margin-top: 11px;
	margin-left: -1px;
}


.comment-style{
    margin-left: 27.5px;
		padding: 3px;
}
.comments ul{
	margin:0;
	padding: 0;
	list-style: none;

}

.comments ul li{
	display: block;
  font-size: 13px;
}

.imgbar{
	display: inline-block;
	vertical-align: top;
}

.imgbar img{
	height: 30px;
	width: 30px;
}


.comment-text {
	text-align: left;
   display:inline-block;
	 padding: 2px;
   width: 76%;
   vertical-align: top;
}

.comment-btn {
	display:inline-block;
height: 25px;
}

.text-edit{
	text-align: left;
	padding: 2px;
	    font-size: 14px;
   display:inline-block;
   width: 76%;
   vertical-align: top;
	 outline: 0;
	 border-bottom: solid 1px #ddd;
}

.comments {
	    margin-top: -8px;
}
.sh-comments{
	display: none;
}


#textarea_feedback {
	float: right;
	margin-top: -15px;
margin-right: 58px;
font-size: 13px;
}
#post_title {
	font-size: 23px;
	display: inline-block;
	margin-left: 10px;
	width: 590px;
}

#post_story{
	display: inline-block;
	margin-left: 45px;
	    padding-bottom: 5px;
}
.update-post{
	margin-top: -8px;
  margin-left: 27px;
}
.modal-open {
  overflow: hidden;
}

.modal {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	width: 30%;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 6px;
	background-color: #fff;
	z-index: 4;
	display: none;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding:  10px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;d
}

.modal-header .close {
	float: right;
	padding: 0px 5px;
	background-color: #e5e5e5;
	text-align: center;
}

.modal-body {
  position: relative;
  padding: 10px 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  text-align: center;
}

.dismiss{
	background-color: red;
	min-width: 150px;
	margin: 10px 10px;
	vertical-align: top;
	display: inline-block;
}

.confirm{
	background-color: green;
	min-width: 150px;
	margin: 10px 10px;
	vertical-align: top;
	display: inline-block;
}

.confirm a{
	color: #fff;
}
.single_post_container {
position: relative;
width: 1000px;
margin: 0 auto;
z-index: -1;
margin-top: 56px;
}

.single_post_container_fix{
	width: 600px;
	margin-left: 184px;
}

.share {
	display: none;
	font-size: 14px;
	width: 542px;
	text-align: left;
	    margin-top: 5px;
  margin-bottom: 20px;
	background: #ddd;
}

.opt-menu{
	display: none;
	cursor: pointer;
	padding: 0px 10px;
	font-weight: bold;
	opacity: 0.8;
}

.opt-menu:hover{
	background-color: #ddd;
}

.opt-dropdown {
	position: absolute;
	display: none;
	margin-top: 6px;
margin-left: -91px;
}

.opt-dropdown ul{
    list-style: none;
    margin: 0px;
    width: 128px;
    padding: 0px;
    right: -72px;
    text-align: left;

}

.opt-dropdown ul li{
display: block;
width: 82px;
border-radius: 1px;
padding: 10px 15px;
border: solid 1px #ddd;
background-color: #e8e8e8;
}

.opt-dropdown li:hover{
	background-color: #eee;
}


.page{
	margin-left: auto;
  margin-right: auto;
  display: none;
}


.pagination {
  display: inline-block;
  border-radius: 4px;

}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.input-holder{
	padding: 23px 0px;
	width: 656px;
	border-top: 1px solid lightgray;
}
#len {
	float: right;
    position: relative;
    font-size: 15px;
    margin-right: -122px
}
.small_dp a img {
	height: 20px;
    width: 20px;
}

.author-name-comment{
		font-weight: bold;
	 	font-size: 12px;
		margin-top: -20px;
	margin-left: 28px;

}
.follow-container{
	display: block;
	width: 870px;
	margin:0 auto;
	margin-top: 13px;
}
.count {
	font-size: 14px;
margin-right: 2px;
}

.comments-holder{
	    margin-bottom: 10px;
}

.delete-comment {
	margin-top: -15px;
    margin-left: 109px;
    font-size: 14px;
}

.delete-comment a {color: #847878;}


.has-error {
	border-color: #a94442;
}

#create{
	color: #646464;
	font-weight: bolder;
	width: 164px;
	margin-top: 50px;
	font-size: 17px;
	font-family: arial;
	cursor: pointer;
	padding: 5px;
	border-radius: 8px;
}
#create:hover{
	background-color: #f4f4f4;
}
#plus-img{
	height: 22px;
	width: 22px;
}
.add-upload{
	position: relative;
    text-align: center;
    margin-top: 10px;
}
.add-btn{
	padding:3px 3px 0px 3px;
}
.add-btn:hover{
	/*background-color: #f4f4f4;*/
}
.head{
	margin: auto;
	height: 38px;
	width: 595px;
}
#c{
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
	width: 590px;
	border: none;
	padding-bottom: 13px;
	margin-left: 2px;
}
#hidden{
	display: none;
}
textarea{
	resize:none;
	border:none;
}

#q{
	border: none;
	width: 587px;
	height: 20px;
	font-size: 20px;
	margin-top: 30px;
	font-weight: lighter;
	font-family: caecilia, times, serif;
	padding-left: 0px;
	overflow-y:hidden;
	margin-left: 6px;
}
#a{

}
#q:focus{
	outline: none;
}
#upload-btn{
	margin-left: 23em;
	background-color: transparent;
	border: 1px solid lightgrey;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}


.mce-panel{
	background-color: #fff !important;
	border: 1px transparent !important;
}
.mce-btn{
	background-color: transparent !important;
}
.mce-btn:hover, .mce-btn:focus, .mce-btn:active{
	background-color: transparent !important;
	border: 1px solid transparent !important;
}
.mce-ico{
	font-size: 13px !important;
}
.mce-btn button{
	padding: 0px !important;
}
.mce-btn-group .mce-first{
	margin-left: 38em !important;
}
.mce-btn-group .mce-btn{
	margin-top: -74px !important;
}
#mceu_4{
	padding: 0px !important;
	height: 0px !important;
}
#mceu_3{
	width: 600px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 15px;
}
#articleContent_ifr{
	overflow: hidden;
}

.mce-widget.mce-tooltip {
    display: none !important;
}
#tinymce{
	overflow: none;
	padding-left: 7px !important;
	margin-left: 0px !important;
}



input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;

}

.sign-up{
	float: right;
    border: 1px solid #ddd;
    padding: 9px;
    border-radius: 4px;
    margin-top: -45px;
    margin-right: 15px;
}

.sign-up a {
	color: #484848;
}
.formore{
	margin: 10px auto;
text-align: center;
padding: 10px;
border: 1px solid #8b8b8b;
width: 160px;
border-radius: 12px;
font-size: 18px;
}

.formore:hover{
	background-color: #83bbee;
}
.formore:hover > a{
	color: #fff;
}
#fbtext{
	border-radius: 10px;
	border: 1.5px solid grey;
}
.feedback_container{
	max-width: 600px;
    margin: 0 auto;
    color: #000;
    padding-bottom: 20px;

}
#feedback{
	color: grey;
	font-weight: bold;
	font-size: 20px;
}
#upcoming{
	font-size: 20px;
	padding:8px 190px 0px 190px;
}
.l{
	margin-top: 6px;
	padding-left: 0px;
}
.l li{
	font-size: 19px;
}
.feedback-input{
	margin-bottom: 20px;
}

.feedback-holder{
	border-top: solid 1px #ddd;
	padding: 5px 10px;
}

.feedback-style{
	font-size: 14px;
	margin-left: 42px;
	margin-top: 5px;
}
.feedback_button{
	display: inline-block;
	margin: 10px 0px 5px 430px;
	vertical-align: bottom;
	background-color: rgb(31, 141, 255);
}
.feedback_button:hover{
	background-color: blue;
}
.feedback-count {
	font-size: 11px;
	font-weight: 600;
	margin-left: 27px;
	color: #3b5998;
}

.feedback-vote {
	float: right;
	font-size: 10px;
}

.adelete-button {
	float: right;
	font-size: 10px;
}
.adelete-button:hover{
	background-color: rgb(223,226,219);
}
li {
	list-style: none;
}

.notifs{
	    padding: 4px;
    width: 90%;
    border-bottom: 1px solid #ddd;

}
.panel-heading{
	color: #565050;
	text-align: center;
	font-family: arial;
	text-decoration: underline;
}
.panel-body{
	font-size: 21px;
	text-align: center;
}
.col-md-6{
	margin-top: 20px;
	text-align: center;
}

.btn-primary{
	background-color: #40a440;
	margin:30px auto;
	border-radius: 10px;
}
.btn-primary:hover{
	background-color: green;
}
.form-control{
	height: 30px;
	border-radius: 7px;
	width: 350px;
	font-size: 18px;
}

#hide{
	background-color: black;
	color: white;
	padding: 10px 10px;
	display: none;
	margin-top: 7px;
	border-radius: 5px;
	margin-left: -19px;
	position: absolute;
}

.popover-clipboard{
	top: 1px;
clip: rect(0 18px 14px -4px);
}

.popover-clipboard:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: black;
}

.popover-clipboard:after {
    -webkit-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}
