body {
	margin: 0px;
	padding: 0px;
	color: #656464;
	    font-family: 'Roboto',Times,"Times New Roman",serif;
}
::-moz-selection { background: #ffdb00;color: #000; }
::selection { background: #ffdb00;color: #000; }
ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.sa1 ul li{
	display: inline;
}
a {
	text-decoration: none;
	color: #337ab7;
}
.home_e{
    margin: 13px auto;
		text-align: center;
}

.notifs{
	    padding: 4px;
    width: 90%;
    border-bottom: 1px solid #ddd;

 }
.main-container{
	margin: 0 auto;
  max-width: 605px;
}
.fixed{
	position: fixed;
	width: 100%;
	left:0;
	top:0;
}

.easyeditor {
    outline: none;
}

.easyeditor-toolbar {
    display: none;
}

.is_one_line br{
	display: none;
}

.easyeditor[contenteditable=true]:empty:before{
    content: attr(placeholder);
    opacity: 0.5;
}

.or {
	padding: 10px;
    font-size: 19px;
    text-align: center;
    margin-top: -20px;
    margin-right: 13px;
}

.topbar-container {
	position: fixed;
	width: 100%;
	height: 42px;
	margin: 0 auto;
	padding: 0;
	display: block;
	left:0;
	top:0;
	z-index: 10000;


}
.bottombar-container {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	left:0;
	bottom:0;

}
#dropdown-menu img{
	height: 33px;
	width: 33px;
	cursor: pointer;
}

.popover-arrow{
	top: 1px;
clip: rect(0 18px 14px -4px);
}

.popover-arrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
}

.popover-arrow:after {
    -webkit-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}

.navigation {
	z-index: 5;
	position: relative;
	border-bottom:1px solid #ddd;
	background-color: #fff;
}
.logo_ee {
	width: 121px;
text-align: center;
margin: 0 auto;
padding-top: 2.5px;
cursor: pointer;
}
.navbar{
	height: 42px;
	display: block;
	margin: 0px auto;
	margin-top: -7px;
}
.explore {
    width: 32px;
    float: left;
		margin-left: 15px;
	  margin-top: 6px;
}
.navspacer{
	display: none;
	height: 70px;
	margin: 0px auto;
	width: 300px;
}

.mobile-option{
	position: relative;
  right: 0;
  float: right;
  margin-right: 15px;
  font-size: 24px;
  font-weight: 800;
  top: -29px;

}

.dd {
	display: block;
	font-size: 13px;
	width: 97px;
	text-align: left;
	position: absolute;
	right: 0;
	margin-top: -10px;
}
.dd ul {
	padding-left: 0px;
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35)
}

.dd a {
	display: block;
    border-radius: 1px;
    padding: 8px 15px;
    border-right: solid 1px #ddd;
    background-color: white;
    border-top: none;
    border-bottom: none;
}

}
.dd ul li {
}
.easyeditor-toolbar {
    display: none;
}
.hr-text{

    font-size: 14px;
    padding-bottom: 5px;
}
.hs{
	display: none;
}
.container{
	margin: 0 auto;
	padding: 0;
	width:96%;
	overflow-x: auto;
}

.follow-unfollow-btn-pos-t{
	margin-top: -5px;
	padding-left: 10px;
}

.blue{
	background-color: #337ab7;
	padding: 5px 10px;
	border-radius: 7px;
	border: 1px solid #c6c0c0;
}

.blue a {
	color:#fff;

}

.gray{

	background-color: #fff;
	padding: 5px 10px;
	border-radius: 7px;
	border: 1px solid #c6c0c0;
}

.flash{
	background-color: #eee;
	position: relative;
	z-index: 4;
	display: block;
	width: 100%;
	padding: 5px;
	text-align: center;
	font-weight: 600;
	color: #777;
}

.cd1{
margin: 40px 0px;
}

.cd2 {
	margin-top: 55px;
}
.input-holder{
	padding-bottom: 50px;
}

.menubar{
	height: 40px;
	display: block;
	margin: 0px auto;
	border-top: 1px solid #ddd;
	background-color: #fff;
}
.menubar ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.menubar ul>a>li{
	width: 23%;
	height: 140px;
	display: inline-block;
}
.ah1{
	margin-top: 7px;
	color: #726E6E;
	font-weight: 600;
}
.menubar .last{
	border-right: 0;
}

.leftbar{
	display: inline-block;
	width: 160px;
	vertical-align: top;
	margin-top: 20px;
	padding: 10px;
}

.leftbar ul{
	margin: 0px auto;
	padding: 0px;
	padding-left: 10px;
	padding-top: 10px;
	list-style: none;
}

.leftbar li{
	padding: 3px 0px;
}

.sidebar-pic{
	margin-right:10px;
	display: inline-block;
}

.sidebar-pic img {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	vertical-align: middle;
}

.sidebar-name{
	vertical-align: middle;
	display: inline-block;
}

.sidebar-title{
	padding-bottom: 8px;
	color: #000;
	font-size: 14px;
	text-align: center;
	border-bottom: 1.5px solid #ddd;
	font-weight: bold;
}

.logo{
	text-align: center;
	margin-top: 7px;
	margin-right: 48px;

}

.logo img{
	height: 36px;
	width: auto;
	margin-top: 3px;
}


.search-logo{
	display: inline-block;
	vertical-align: middle;
}
.search-logo img{
	height: 30px;
	width: 30px;
	border-radius: 30px;
}

.search-name {
	color: #333;
	font-size: 0.85em;
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 8px;
}

.search {
	width: 60%;
  float: left;
  margin: 0;
  padding: 8px 10px;
}

.search input{
  width: 75%;
  height: 25px;
  background: #eee;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search input:focus{
    outline: 0;
}

.search .icon img{
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	max-height: 15px;
}

.btn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
	font-size: 16px;
	padding: 11px 15px;
	border-radius: 4px;
	vertical-align: middle;
}

.btn:hover{
	background-color: blue;
}
.btn:focus{
	background-color: blue;
}
.notify{
	float: right;
	font-weight: 500;
	vertical-align: top;
}

.notify-menu a{
	border: solid 2px #eee;
	border-radius: 4px;
	display: block;
	padding: 5px 3px;
}

.notify-menu a:hover{
	background-color: #eee;
}

.user-info{
	float: right;
	font-weight: 500;
	margin-top: 4px;
	margin-right: 5px;
	vertical-align: top;
}

.user-info span{
	padding-right: 10px;
}


.user-info .user-photo{
	max-height: 30px;
	display: inline-block;
	vertical-align: middle;

}

.profile-menu{
	display: block;
	cursor: pointer;
	margin-top: 3px;
}


.profile-menu img{
	height: 20px;
    width: 20px;
    border-radius: 50%;
	vertical-align: middle;

}

.search-dropdown {
	display:none;
	position: absolute;
	margin-top: 15px;
	margin-left: -36px;


}
.search-dropdown ul{
	position: absolute;
    list-style: none;
    padding-top: 0px;
    margin-top: 0px;
}

.search-dropdown ul li{
display: block;
width: 325px;
border-radius: 1px;
padding: 4px 3px;
border: solid 1px #ddd;
background-color: #e8e8e8;
}

.search-dropdown a:hover{
	background-color: #bbb;
}

.search-dropdown > .fixed-bottom a{
	font-size: 0.9em;
	color: #333;
}

.dropdown {
	display:none;
	position: absolute;
	margin-top:5px;
	opacity:0.9;

}
.dropdown ul{
	position: absolute;
    list-style: none;
    margin: 0px;
    width: 128px;
    padding: 0px;
    right: -5px;
    text-align: left;
}

.dropdown a{
display: block;
width: 125px;
border-radius: 1px;
padding: 10px 15px;
border: solid 1px #ddd;
background-color: #eee;
}

.dropdown a:hover{
	background-color: #ddd;
}

.notify-menu{
	position: relative;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

.notify-label{
       height: 21px;
    position: absolute;
    width: 22px;
    line-height: 22px;
    margin-left: -9px;
    margin-top: -23px;
    padding: 0px 0px;
    padding-top: 0px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    background-color: #d00;

}

.notify-clear{
	opacity: 0;
}

.notify-dropdown {
	display:none;
	position: absolute;
	margin-top: 10px;
	opacity: 0.9;
	right: 5px;
}

.scroll ol{
	padding:0px;
	margin: 0px;
}

.notify-dropdown ul{
	max-height: 200px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
    list-style: none;
    margin: 0px;
    width: 220px;
    padding: 0px;
    text-align: left;
}

.notify-dropdown a{
display: block;
width: 200px;
padding: 10px 15px;
background-color: #e8e8e8;
}



.notify-dropdown a:hover{
	background-color: #ddd;
}
.popover-arrow{
    top: 1px;
    clip: rect(0 18px 14px -4px);
}
.inner-container {
	margin: 0 auto;
}

.post-input {
	display: block;
	border-bottom: 1px solid #ddd;
}

.article{
	margin: 10px 0px;
	padding: 10px;
	text-align: justify;
	border: 1px solid #ddd;
}

.article-box img{
	width:100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.article-text{
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #aaa;
}

.article-stats ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-stats ul li{
	margin: 0;
	padding: 10px 15px;
	display: inline-block;
}

.article-stats ul li:hover{
	background-color: #ddd;
}
.tl1{
	text-align: center;
font-size: 30px;
margin-top: 65px;
}

.vision-button{
	margin-top: 30px;
}
.vb1{
	border: 1px solid #000;
	font-size: 12px;
padding: 10px;
width: 85px;
color: #000;
text-align: center;
margin: 0 auto;
}
.centered{
	margin: 0 auto;
	text-align: center;
	margin-top: 42px;
}

.centerlogo{

		width: 223px;
    height: auto;
}

.home-text{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 186px;
    margin-bottom: 18px;
    font-size: 23px;
    text-align: center;
}

.hp1{
	margin-bottom: 12px;
}
.centered > input{
	text-align: center;
}

.invite-user{
	margin-top: 110px;
}
.invite{
	margin: 20px;
	display: none;
}
.invite-holder {
	margin: 0 auto;
	width:300px;
margin-top: 25px;
}
.invitebar{
	width:50%;
	height: 50px;
	outline: none;
	border: 2px solid #bbb;
	font-size: 16px;
	padding-left: 20px;
}

.invitebtn{
	 background-color: #fff;
    border: 2px solid #bbb;
		margin: 10px auto;
}

 .formgroup{
 	display: block;
	font-size: 15px;
	margin-left: -10px !important;
}



 .text{
	 outline: 0;
  	height: 36px;
  	font-size: 13px;
  	width: 95%;
		padding: 0px 10px;
		margin: 5px 0px;
		border: none;
    border-bottom: 1px solid #e7e7e7;
  }

	.text:focus+.underline {
  transform: scale(1);
}

.underline {
	display: block;
	margin-top: -4px;
  background-color: dodgerblue;
  height: 2px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
	transform-origin: left;
	-webkit	transform-origin: left;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;

}

  .rem-me{
  	width: 129px;
  }

	.forgot-pass{
		margin-top: 3px;
    margin-left: 15px;
	}

  .forgot-pass a {
		color: #fff;
  }

	.img-container {
		    width: 23px;
	}
.img-container a img{
	width: 19px;
	border-radius: 50%;
  height: 19px;
}

.text-holder{
	    padding-top: 5px;
}
.signup {
	margin-top: 37px;
	padding-left: 3%;
	width: 94%;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
	  border: 0;
	  display: block;
	  margin-bottom: 16px;
	  font-size: 18px;
	  padding: 12px 19px;
	  border-radius: 4.2px;
}

.google-btn {
  background-color: #df4930;
  text-align: left;
}

.google-btn::before, .fb-btn::before{
  width: 24px;
  height: 24px;
  background-size: 24px 24px;


}

.google-btn::before, .fb-btn::before {
    float: left;
    content: "";
    margin-right: 8px;

  }

.google-btn::before {
  background-image: url(../images/g1.png);

}

.fb-btn::before {
    background-image: url(../images/f1.png);

}

.fb-btn {
  text-align: left;
  background: #3b5998;
  border-color: #2d4373;
}

.withgoogle, .withfacebook {
border-radius: 3px;
}

.icon-ext{
	width: 270px;
	margin-left: -14px;


}

.withemail{
	margin: 10px;
  	display:block;
  	text-align: right;
  	padding: 0px 20px;
  }
.back{
	text-align: center;
margin-left: -156px;
margin-top: 42px;
}
.backbtn{
	font-size: 12px;
	font-weight: 600;
	padding: 5px 10px;
	margin-left: 150px;
	background-color: #999;
	border: 1px solid #bbb;
	display: none;
}

.login-btn, .invitebtn {
    padding: 7px 23px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.login-btn{
	margin-left: 96px;
	margin-top: 14px;
}
h3 a{
	text-decoration: underline;
}

.social_auth{
	margin-left: 85px;
  margin-top: 15px;
}

.error-msg{
	text-align: left;
	padding: 10px;
	font-size: 15px;
	color: #a94442;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 10px;
	border:1px solid #a94442;
	-webkit-border-radius: 10px ;
  	-moz-border-radius: 10px ;
  	border-radius: 10px;
}

.error-msg ul{
	padding: 0 20px;
	margin: 0;
}

.post-container {
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0px;
	text-align: left;
	padding-bottom: 10px;
	width: 96%;
	margin: 0 auto;
}


.tags-container {
	margin-left: -47px;
  padding: 7px;
}

.tags-container ul li {
	list-style: none;
	display: inline;
}

.tag{
	font-weight: 400;
	font-style: normal;
	color: #a2a2a2;
	font-size: 11px;
	letter-spacing: 0;
	text-decoration: none;
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #a2a2a2;
	padding: 5px 9px;
	margin-right: 3px;
	cursor: pointer;
}
.tag_e {
    margin: 3px !important;
    font-size: 13px !important;
}
.tag:hover{
	color: #000;
}

.tag_m{
	margin-top: 43px;
	width: 100%;
	padding-bottom: 6px;
	border-bottom: 1px solid #b5a5a5;

}

.pf1{
	display: flex;
  margin-left: -35px;
  overflow-x: scroll;
}

.tt{
	width: 96%;
    margin: 0 auto;
}
.author-name{
	color: #333;
	margin-top: -18px;
  margin-left: 23px;
}
.pictales-author{
	font-size: 13px;
}
.carbon-date{
	font-size: 13px;
	margin-left: 68px;
	margin-top: 7px;
}
.title-container{
	font-size: 19px;
	color: #000;
}

.title-container a {
	font-size: 19px;
	    color: #000;
	    margin-top: -43px;
}

.story-container{
	margin-top: 5px;
	font-size:15px;
	line-height: 1.4;
	    color: #000;
}

.image-container  img {
	margin: 10px auto;
	width: 100%;

}


.post-title {
	position: relative;
	width: 190px;
	top: -136px;
	border: none;
	border-bottom: 1px solid #000;

}

.error-input-title {
	margin-left: 50px;
	margin-top: -25px;
	margin-bottom: 15px;
	display: none;
}
.error-input-story {
	margin-left: 50px;
	display: none;
}

.error-input-img {
	display: none;
}

.error-input-profile {
	margin-left: 10px;
	display: block;
	margin-bottom: -10px;
}

.post-story {
	position: relative;
	width: 300px;
	top: -136px;
	border: none;
	border-bottom: 1px solid #000;

}

.post-buttons {
	margin-left: 8px;
}

.input-img{
	margin-top: 4px;
	padding: 0px;
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
}

.input-img img{
	background-color: white;
	height: 42px;
	width: auto;
}

input[type=file]{
	display: none;
}
.submit-btn {
	display: inline-block;
	margin-top: 15px;
	float: right;
	margin-right: 31px;
	background: transparent;
	border: 1px solid #000;
	padding: 6px 13px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;

}

.disabled{
	disabled;
	background: #bbb;
}

.submit-loading {
	display: none;
	float: right;
	margin-top: 65px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}


/*style for follow n following tabs*/

.user-profile {
	cursor: pointer;
	padding: 5px;
}

.user-thumbnail {

}

.user-thumbnail a img {
	height: 60px;
  width: 60px;
  border-radius: 1px;
}

.user-name {
	margin-top: -59px;
	margin-left: 68px;

}

.pictales-count {
	font-size: 14px;
  margin-left: 68px;
  margin-top: 6px;
}

.user-follow-unfollow-btn {
	font-size: 15px;
	 margin-top: 23px;


}

.user-pictales-count {

}

.user-thumbnail-leftbar a img {
	height: 20px;
    width: 20px;
    border-radius: 50%;
}

.top-following ul li {
	font-size: 13px;
}

.view_counts{
	font-size: 20px;
    border-bottom: 1px solid #a2a2a2;
    width: 145px;
    margin-bottom: 3px;
    padding-bottom: 2px;
}
.options ul{
	margin:0;
	padding: 0;
	list-style: none;

}

.options ul li{
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
}

.options ul li a{
	color: #999;
	z-index: 1;
}

.options ul .active a{
	color: #33c;
}

.no-results{
	display: block;
	padding: 10px;
	background-color: #fff;
	font-weight: 0;
}


.right {
	float: right;
}

.options ul .hide{
	display: none;
}
.comment-container{
	padding-bottom: 20px;
	text-align: center;
  margin-top: 11px;
	margin-left: -1px;
}


.comment-style{
    margin-left: 28.5px;
}
.comments ul{
	margin:0;
	padding: 0;
	list-style: none;

}
.comments ul li{
	display: block;
  font-size: 11px;
}

.imgbar{
	display: inline-block;
	vertical-align: top;
}

.imgbar img{
	height: 30px;
	width: 30px;
}


.comment-text {
	text-align: left;
   display:inline-block;
   width: 76%;
   padding: 5px 10px 5px 10px;
   vertical-align: top;
}

.comment-btn {
	display:inline-block;
height: 25px;
}

.text-edit{
	text-align: left;
	    font-size: 14px;
   display:inline-block;
   width: 60%;
   padding: 5px 10px 5px 10px;
   vertical-align: top;
	 outline: 0;
	 border-bottom: solid 1px #ddd;
}

.comments {
	    margin-top: -8px;
}
.sh-comments{
	display: none;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
}


#textarea_feedback {
margin-left: 295px;
font-size: 13px;
}
#post_title {
	display: inline-block;
	margin-left: 10px;
}

#post_story{
	display: inline-block;
	margin-left: 44px;
	    padding-bottom: 5px;
}

.modal-open {
  overflow: hidden;
}

.modal {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 6px;
	background-color: #fff;
	z-index: 4;
	display: none;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding:  10px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
}

.modal-header .close {
	float: right;
	padding: 0px 5px;
	background-color: #e5e5e5;
	text-align: center;
}

.modal-body {
  position: relative;
  padding: 10px 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  text-align: center;
}

.dismiss{
	background-color: red;
	min-width: 150px;
	margin: 10px 10px;
	vertical-align: top;
	display: inline-block;
}

.confirm{
	background-color: green;
	min-width: 150px;
	margin: 10px 10px;
	vertical-align: top;
	display: inline-block;
}

.confirm a{
	color: #fff;
}
.single_post_container {
position: relative;
width: 1000px;
margin: 0 auto;
z-index: -1;
}

.single_post_container_fix{
	width: 600px;
	margin-left: 220px;
	margin-top: 57px;
}

.share {
	display: none;
	font-size: 9px;
	text-align: left;
	    margin-top: 5px;
  margin-bottom: 20px;
	background: #ddd;
}

.opt-menu{
	display: none;
	cursor: pointer;
	padding: 0px 10px;
	font-weight: bold;
	opacity: 0.8;
}
.opt-menu:hover .share-menu:hover{
	background-color: #ddd;
}
.opt-dropdown {
	position: absolute;
	display: none;
	margin-top: 6px;
margin-left: -90px;
}

.opt-dropdown ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;

}

.opt-dropdown ul li{
display: block;
width: 81px;
border-radius: 1px;
padding: 5px 14px;
border: solid 1px #ddd;
background-color: #e8e8e8;
}

.opt-dropdown li:hover{
	background-color: #eee;
}


.page{
	margin-left: auto;
  margin-right: auto;
  display: none;
}


.pagination {
  display: inline-block;
  border-radius: 4px;

}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.small_dp a img {
	height: 20px;
    width: 20px;
}

.author-name-comment{
		font-weight: bold;
	 	font-size: 12px;
		margin-top: -20px;
	margin-left: 28px;

}
.follow-container{
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
}

.count {
	font-size: 14px;
margin-right: 2px;
}

.comments-holder{
	    margin-bottom: 10px;
}

.delete-comment {
	margin-top: -15px;
    margin-left: 109px;
    font-size: 14px;
}

.delete-comment a {color: #847878;}


.has-error {
	border-color: #a94442;
}

.has-error-text {
	font-size: 0.7em;
	color: #a94442;
}

#create{
	color: #646464;
	font-weight: bolder;
	width: 164px;
	margin-top: 50px;
	font-size: 17px;
	font-family: arial;
	cursor: pointer;
	padding: 5px;
	border-radius: 8px;
}
#create:hover{
	background-color: #f4f4f4;
}
#plus-img{
	height: 22px;
	width: 22px;
}
.add-upload{
	position: relative;
    text-align: center;
    margin-top: 10px;
}
.add-btn{
	padding:3px 3px 0px 3px;
}
.add-btn:hover{
	/*background-color: #f4f4f4;*/
}
.head{
	margin: auto;
	height: 38px;
	width: 595px;
}
#c{
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
	width: 590px;
	border: none;
	padding-bottom: 13px;
	margin-left: 2px;
}
#hidden{
	display: none;
}
textarea{
	resize:none;
	border:none;
}

#q{
	border: none;
	width: 587px;
	height: 20px;
	font-size: 20px;
	margin-top: 30px;
	font-weight: lighter;
	font-family: caecilia, times, serif;
	padding-left: 0px;
	overflow-y:hidden;
	margin-left: 6px;
}
#a{

}
#q:focus{
	outline: none;
}
#upload-btn{
	margin-left: 23em;
	background-color: transparent;
	border: 1px solid lightgrey;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}


.mce-panel{
	background-color: #fff !important;
	border: 1px transparent !important;
}
.mce-btn{
	background-color: transparent !important;
}
.mce-btn:hover, .mce-btn:focus, .mce-btn:active{
	background-color: transparent !important;
	border: 1px solid transparent !important;
}
.mce-ico{
	font-size: 13px !important;
}
.mce-btn button{
	padding: 0px !important;
}
.mce-btn-group .mce-first{
	/*margin-left: 38em !important;*/
}
.mce-btn-group .mce-btn{

	display: none !important;
	/*margin-top: -74px !important;*/
}
#mceu_4{
	padding: 0px !important;
	height: 0px !important;
}
#mceu_3{
	width: 290px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 15px;
}
#articleContent_ifr{
	overflow: hidden;
}

.mce-widget.mce-tooltip {
    display: none !important;
}
#tinymce{
	overflow: none;
	padding-left: 7px !important;
	margin-left: 0px !important;
}



input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;

}


.formore{
	margin: 0 auto;
text-align: center;
padding: 10px;
font-weight: 800;
}
.feedback_container{
	max-width: 600px;
	color: #000;
	padding: 10px 10px;

}
#fbtext{
	border-radius: 10px;
	border: 1.5px solid grey;
}
#feedback{
	color: grey;
	font-weight: bolder;
	font-size: 20px;
}
.feedback-input{
	text-align: justify;
	margin-bottom: 20px;
}

.feedback-holder{
	border-top: solid 1px #ddd;
	padding: 5px 10px;
}

.feedback-style{
	font-size: 1.2em;
	margin-left: 42px;
	margin-top: 5px;
}
.feedback_button{
	display: inline-block;
	margin: 10px 0px 5px 80px;
	vertical-align: bottom;
	background-color: rgb(31, 141, 255);
}

.feedback-count {
	font-size: 11px;
	font-weight: 600;
	margin-left: 30px;
	color:#3b5998;;
}

.navbar_e {
	text-align: center;
    height: 42px;
    display: block;
    position: relative;
    z-index: 4;
    margin: 0px auto;
}
.logo_e img {
    height: 36px;
}
.sign-up {
    float: right;
    padding: 9px;
    border-radius: 4px;
    margin-top: -41px;
    margin-right: 15px;
}
.adelete-button {
	float: right;
	font-size: 10px;
}

.panel-heading{
	color: #565050;
	text-align: center;
	font-family: arial;
}
.panel-body{
	font-size: 18px;
	text-align: center;
}
.col-md-6{
	margin-top: 20px;
}

.btn-primary{
	background-color: #2d872d;
	margin-left: 170px;
	margin-top: 30px;
	border-radius: 10px;
	font-size: 15px;
	padding: 9px;
}
.btn-primary:focus{
	background-color: green;
}


.share-img{
	width: 16px;
	height: 16px;
	margin-left: 3px;
}
.btns{
	border: none;
	background-color: transparent;
	border-radius: 50%;
	margin-right: -3px;
}

#hide{
	position: fixed;
	background-color: black;
	color: white;
	padding: 7px;
	display: none;
	margin-top: -191px;
	margin-left: -15px;
	border-radius: 5px;
	margin-right: 15px;
	font-size: 12px;
}


.popover-clipboard{
	top: 1px;
clip: rect(0 18px 14px -4px);
}

.popover-clipboard:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: black;
}

.popover-clipboard:after {
    -webkit-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}
